<div class="no-question">
  <img src="/images/noquestions.svg" alt="no-question" />
  <h3>Nenhuma pergunta por aqui...</h3>
  <p>
    Faça sua primeira pergunta e envie o código dessa sala para outras pessoas!
  </p>
</div>
