.modal-wrapper.active {
  visibility: visible;
  opacity: 1;
}

.modal-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;

  background: rgb(4, 9, 17, 0.8);

  visibility: hidden;
  opacity: 0;
}

.modal-wrapper .modal {
  background: white;

  display: grid;
  justify-content: center;
  align-items: center;

  margin: auto;

  width: min(33.5rem, 90%);
  border-radius: 8px;

  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 3rem 0;
}

.modal-wrapper .modal h2 {
  margin-bottom: 0.75rem;
}

.modal-wrapper .modal p {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--grey-dark);
}

.modal-wrapper .modal input {
  display: flex;
  width: min(80%, 32rem);
  margin: 0 auto;
  border: 0.2rem solid var(--blue);
  outline: none;
  padding: 1rem 0.75rem;
  margin-bottom: 2rem;
  transition: 0.2s;
}

.modal-wrapper .modal .buttons {
  display: flex;
  justify-content: center;
}

.modal-wrapper .modal .buttons .button {
  padding: 13px 32px;
}

.modal-wrapper .modal .buttons div + button {
  margin-left: 1rem;
}
